[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_vscodeprojectsrunner
X-KDE-ParentComponents=vscodeprojectsrunner
X-KDE-PluginKeyword=kcm_krunner_vscodeprojectsrunner

Name=vscodeprojectsrunner
